.task-1__text {
    text-align: justify;
    background-color: #2F9469;
    color: #E2155C;
}

.task-2__images {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 500px;
}

.task-2__back-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

.task-2__front-image {
    position: absolute;
    width: 30%;
    height: auto;
    z-index: 2; 
}

.task-3__traffic-lights{
margin-top: 10px;
}

.task-3__light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.task-3__light_red {
    background-color: red;
    border: 3px rgb(108, 11, 11) solid;
}

.task-3__light_yellow {
    background-color: yellow;
    border: 3px rgb(129, 129, 14) solid;
}

.task-3__light_green {
    background-color: green;
    border: 3px solid rgb(16, 68, 16);
}

.task-4__maze {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.task-4__cube {
    background-color: rgb(195, 95, 195);
    border-color: black;
}

.task-4__cube-border-top {
    border-top: 3px solid;
}

.task-4__cube-border-bottom {
    border-bottom: 3px solid;
}

.task-4__cube-border-left {
    border-left: 3px solid;
}

.task-4__cube-border-right {
    border-right: 3px solid;

}
