<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/about.css">
    <link rel="stylesheet" href="static/css/main.css">

</head>
<body>
    <div class="main-content">
        <h1 class="page-title">Обо мне</h1>
        
        <div class="info-section">
            <div class="info-card">
                <h2 class="info-title">🎂 Дата рождения</h2>
                <p class="info-text">20 сентября 2007 года</p>
            </div>
            
            <div class="info-card">
                <h2 class="info-title">🎮 Любимые увлечения</h2>
                <ul class="hobbies-list">
                    <li>Пинтест веба</li>
                    <li>Писать свои таски</li>
                    <li>Велоспорт</li>
                    <li>сп(о|И)рт</li>
                </ul>
            </div>
            
            <div class="info-card">
                <h2 class="info-title">💻 Hard-скилы</h2>
                <ul class="skills-list">
                    <li>Python, JavaScript, Go</li>
                    <li>HTML, CSS, PHP</li>
                    <li>SQL, C++</li>
                    <li>Docker, Arch</li>
                </ul>
            </div>

        </div>
        
        <a href="/" class="about-link">На главную</a>
    </div>

    <div class="footer">
        <div class="monster">monster</div>
        <div class="pages">
            <div class="pages-welcome" onclick="window.location.href='/'">welcome</div>
            <div class="pages-about" onclick="window.location.href='/about'">about</div>
            <div class="pages-projects" onclick="window.location.href='/projects'">projects</div>
<div class="pages-contacts" onclick="window.location.href='/contacts'">contacts</div>
        </div>
    </div>
</body>
</html>