<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/css/about.css" />
    <link rel="stylesheet" href="static/css/main.css" />
  </head>
  <body>
    <div class="main-content">
      <h1 class="main-content__page-title">Обо мне</h1>

      <div class="main-content__info-section">
        <div class="info-section__card">
          <h2 class="info-section__title">🎂 Дата рождения</h2>
          <p class="info-section__text">20 сентября 2007 года</p>
        </div>

        <div class="info-section__card">
          <h2 class="info-section__title">🎮 Любимые увлечения</h2>
          <ul class="info-section__hobbies-list">
            <li>Пинтест веба</li>
            <li>Писать свои таски</li>
            <li>Велоспорт</li>
            <li>сп(о|И)рт</li>
          </ul>
        </div>

        <div class="info-section__card">
          <h2 class="info-section__title">💻 Hard-скилы</h2>
          <ul class="info-section__skills-list">
            <li>Python, JavaScript, Go</li>
            <li>HTML, CSS, PHP</li>
            <li>SQL, C++</li>
            <li>Docker, Arch</li>
          </ul>
        </div>
      </div>

      <a href="/" class="main-content__about-link">На главную</a>
    </div>

    <div class="footer">
      <div class="footer__monster">monster</div>
      <div class="footer__pages pages">
        <div class="pages__item">
          <a href="/" class="pages__link">welcome</a>
        </div>
        <div class="pages__item">
          <a href="/about" class="pages__link">about</a>
        </div>
        <div class="pages__item">
          <a href="/projects" class="pages__link">projects</a>
        </div>
        <div class="pages__item">
          <a href="/contacts" class="pages__link">contacts</a>
        </div>
      </div>
    </div>
  </body>
</html>
