<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Простой калькулятор</title>
    <link rel="stylesheet" href="static/css/calculator.css" />
  </head>
  <body>
    <div class="calculator">
      <div id="output">Ответ:</div>

      <div>Первое число:</div>
      <input id="num-1" type="number" />

      <div>Второе число:</div>
      <input id="num-2" type="number" />

      <div>Операция (+, -, *, /):</div>
      <input id="operation" type="text" />

      <button onclick="calculator()">Вычислить</button>
    </div>

    <script src="static/js/calculator.js"></script>
  </body>
</html>
