<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Простой калькулятор</title>
    <link rel="stylesheet" href="static/css/calculator.css" />
  </head>
  <body>
    <div class="calculator">
      <div class="calculator__output" id="output">Ответ:</div>

      <div class="calculator__label">Первое число:</div>
      <input class="calculator__input" id="num-1" type="number" />

      <div class="calculator__label">Второе число:</div>
      <input class="calculator__input" id="num-2" type="number" />

      <div class="calculator__label">Операция (+, -, *, /):</div>
      <input class="calculator__input" id="operation" type="text" />

      <button class="calculator__button" onclick="calculator()">
        Вычислить
      </button>
    </div>

    <script src="static/js/calculator.js"></script>
  </body>
</html>
