<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacts</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/css/contacts.css" />
    <link rel="stylesheet" href="static/css/main.css" />
  </head>
  <body>
    <div class="main-content">
      <h1 class="main-content__page-title">Связь со мной</h1>

      <div class="main-content__contacts-section">
        <div class="main-content__contact-card">
          <div class="main-content__contact-icon">📱</div>
          <h2 class="main-content__contact-title">Телефон</h2>
          <p class="main-content__contact-info">+7 (906) 126-16-99</p>
        </div>

        <div class="main-content__contact-card">
          <div class="main-content__contact-icon">📧</div>
          <h2 class="main-content__contact-title">Email</h2>
          <p class="main-content__contact-info">danjirelo@yandex.ru</p>
        </div>

        <div class="main-content__contact-card">
          <div class="main-content__contact-icon">💬</div>
          <h2 class="main-content__contact-title">Telegram</h2>
          <p class="main-content__contact-info">@CookieHTTP</p>
        </div>

        <div class="main-content__contact-card">
          <div class="main-content__contact-icon">👥</div>
          <h2 class="main-content__contact-title">ВКонтакте</h2>
          <p class="main-content__contact-info">vk.com/monster</p>
        </div>

        <div class="main-content__contact-card">
          <div class="main-content__contact-icon">💻</div>
          <h2 class="main-content__contact-title">GitHub</h2>
          <p class="main-content__contact-info">github.com/Danilaooyey</p>
        </div>
      </div>

      <a href="/" class="main-content__contacts-link">На главную</a>
    </div>

    <div class="footer">
      <div class="footer__monster">monster</div>
      <div class="footer__pages">
        <div class="footer__pages-welcome" onclick="window.location.href='/'">
          welcome
        </div>
        <div
          class="footer__pages-about"
          onclick="window.location.href='/about'"
        >
          about
        </div>
        <div
          class="footer__pages-projects"
          onclick="window.location.href='/projects'"
        >
          projects
        </div>
        <div
          class="footer__pages-contacts"
          onclick="window.location.href='/contacts'"
        >
          contacts
        </div>
      </div>
    </div>
  </body>
</html>
