<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/projects.css">
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
    <div class="main-content">
        <h1 class="page-title">Мои проекты</h1>
        
        <div class="projects-section">
            <a href="/lab1" class="project-link">Lab-1</a>
            <a href="/lab2" class="project-link">Lab-2</a>
            <a href="/" class="project-link">Lab-3</a>
            <a href="/calculator" class="project-link">Lab-4</a>
        </div>
        
        <a href="/" class="projects-back-link">На главную</a>
    </div>

    <div class="footer">
        <div class="monster">monster</div>
        <div class="pages">
            <div class="pages-welcome" onclick="window.location.href='/'">welcome</div>
            <div class="pages-about" onclick="window.location.href='/about'">about</div>
            <div class="pages-projects" onclick="window.location.href='/projects'">projects</div>
<div class="pages-contacts" onclick="window.location.href='/contacts'">contacts</div>
        </div>
    </div>
</body>
</html>