<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/css/welcome.css" />
    <link rel="stylesheet" href="static/css/main.css" />
  </head>
  <body>
    <div class="main-content">
      <div class="main-content__avatar-container">
        <img
          src="static/images/me-avatar.jpg"
          alt="Мой аватар"
          class="main-content__avatar"
        />
      </div>
      <div class="main-content__name">Морозов Данил Вячеславович</div>
      <a href="/about" class="main-content__about-link">Обо мне</a>
    </div>
    <div class="footer">
      <div class="footer__monster">monster</div>
      <div class="footer__pages">
        <div class="footer__pages-item">
          <a href="/" class="footer__pages-link">welcome</a>
        </div>
        <div class="footer__pages-item">
          <a href="/about" class="footer__pages-link">about</a>
        </div>
        <div class="footer__pages-item">
          <a href="/projects" class="footer__pages-link">projects</a>
        </div>
        <div class="footer__pages-item">
          <a href="/contacts" class="footer__pages-link">contacts</a>
        </div>
      </div>
    </div>
  </body>
</html>
