<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/welcome.css">
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
    <div class="main-content">
        <div class="avatar-container">
            <img src="static/images/me-avatar.jpg" alt="Мой аватар" class="avatar">
        </div>
        <div class="name">Морозов Данил Вячеславович</div>
        <a href="/about" class="about-link">Обо мне</a>
    </div>
    <div class="footer">
        <div class="monster">monster</div>
        <div class="pages">
            <div class="pages-welcome" onclick="window.location.href='/'">welcome</div>
            <div class="pages-about" onclick="window.location.href='/about'">about</div>
            <div class="pages-projects" onclick="window.location.href='/projects'">projects</div>
<div class="pages-contacts" onclick="window.location.href='/contacts'">contacts</div>
        </div>
    </div>
</body>
</html>