body {
    font-family: ui-sans-serif;
    font-size: 25px;
    margin: 0;
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://avatars.mds.yandex.net/i?id=39f137574f1ba2b26e0ab9f03225cf32_l-13509485-images-thumbs&n=13");
    min-height: 100vh;
    width: 100%;
}

.calculator {
    background-color: #e5e7eb;
    display: block;
    margin: .1rem;
    padding: 1.3rem;
    border-radius: .5rem;
}

.calculator__num {
    display: block;
    box-sizing: border-box;
    font-size: inherit;
    margin: inherit;
    width: 100%;
}

.calculator__act {
    font-size: inherit;
    text-align: center;
    margin: inherit;
    width: 100%;
}

.calculator__button {
    font-size: inherit;
    margin: inherit;
    width: 100%;
}

.calculator__result {
    display: block;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-left: inherit;
    margin-right: inherit;
    padding: 0.75rem;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #767676;
    border-radius: 3px;
}
