h1{
    color: black;
    text-align: center;
}
.task1__text{
    text-align: center;
    color: #C4C26B;
    background-color: #D765FE;
}
h1{
    color: black;
    text-align: center;
}
.image{
    position: relative;
    display: inline-block;
}
.image__img--back{
  display: block;
  height: 600px;
  max-height: 100%;
}
.image__img--front{
  height: 400px;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1{
    color: black;
    text-align: center;
}
.traffic-light{
    display: grid;
    position: relative;
    align-items: center;
    gap: 10px;
    width: 100px;
    height: 250px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}
.traffic-light__lamp{
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.traffic-light__lamp--red{
    position: relative;
    background-color: red;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.traffic-light__lamp--yellow{
    position: relative;
    background-color: yellow;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.traffic-light__lamp--green{
    position: relative;
    background-color: green;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1{
    color: black;
    text-align: center;
}
.maze{
    display: grid;
    grid-template-columns: repeat(3,80px);
    grid-template-rows: repeat(3,80px);
    gap: 0;
    margin: 20px auto;
    width: 300px;
}

.maze__cell{
    background-color: rgb(202, 231, 236);
    box-sizing: border-box;
}
.border-top{
    border-top: 2px solid goldenrod;
}
.border-left{
    border-left: 2px solid goldenrod;
}
.border-right{
    border-right: 2px solid goldenrod;
}
.border-bottom{
    border-bottom: 2px solid goldenrod;
}