.mainpage {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #fafafa;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header__text {
  font-size: 24px;
  font-weight: bold;
}

.section-title {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.list {
  list-style: none;
  padding-left: 0;
}

.list__item {
  margin: 6px 0;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.4s ease;
}

.list__item:hover {
  color: #1a73e8;
}

.group {
  margin-top: 20px;
}

.group__title {
  margin: 0 0 8px;
  font-size: 18px;
  font-weight: bold;
}

.group__child {
  margin-left: 15px;
  margin-bottom: 6px;
}

.group_one .group__child {
  color: red;
}

.group_two {
  color: orange;
}

.group_two .group__child {
  color: #b4005a;
  border: 1px dotted orange;
  padding: 3px 6px;
  display: inline-block;
}

.group_three,
.group_three .group__child {
  color: black;
}

.group__child_guest {
  color: purple;
  border: none;
}

.group_two ~ .group_three,
.group_two ~ .group_three .group__child {
  color: green;
}

.programming-languages {
  list-style: none;
  padding-left: 0;
}

.programming-languages__item {
  margin-bottom: 8px;
}

.programming-languages__link {
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}

.programming-languages__link::before {
  content: "Globe ";
}

.programming-languages::after {
  content: "";
  display: block;
  margin-top: 25px;
  width: 120px;
  height: 40px;
  background: url("https://ssau.ru/i/logo/logo-white-ru.svg") no-repeat center;
  background-size: contain;
}
