.main-title{
    text-align: center;
}

.text{
    text-align: left;
    color:#40EA53;
    background-color:#625620;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}

.image-container{
    display:flex;
    align-items: center;
    justify-content: center;
}

.image-cat1{
    position: absolute;
    top: 600px;
    width:300px;
    height:auto;
    border-radius: 15px;
}

.image-cat2{
    height: 400px;
    width: auto;
    border-radius: 15px;
}

.traffic-light{
    width: 60px;
    height: 300px;
    background: black;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.traffic-light_lamp{
    width: 60px;
    height: 60px;
    background: #555;
    border-radius: 50%;
}

.traffic-light_lamp_red { background: red;}
.traffic-light_lamp_yellow{background: yellow;}
.traffic-light_lamp_green{background: green;}

.maze{
    display: grid;
    grid-template-rows: repeat(3,100px);
    grid-template-columns: repeat(3,100px);
    width: 300px;
}

.maze__cell{
    display: flex;
}

.maze__cell_border-right{
    border-right: 3px solid black;
}

.maze__cell_border-left{
    border-left: 3px solid black;
}

.maze__cell_border-top{
    border-top: 3px solid black;
}

.maze__cell_border-bottom{
    border-bottom: 3px solid black;
}