body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
}

.text-block {
    text-align: center;
    color: #85A1B7;
    background-color: #FEB431;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.text-block__paragraph {
    margin: 10px 0;
    line-height: 1.5;
}

.images {
    position: relative;
    height: 500px;
    margin: 0 auto;
    max-width: 500px;
}

.images__item {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
    height: 500px;
}

.images__item--size_big {
    z-index: 1;
} 

.images__item--size_small {
    opacity: 0.7;
    z-index: 2;
}

.traffic-light {
    width: 80px;
    height: 240px;
    background-color: #333;
    border-radius: 12px;
    margin: 20px auto;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
}

.traffic-light__light {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 5px auto;
    background-color: #444;
}

.traffic-light__light--color_red {
    background-color: #ff4444;
}
.traffic-light__light--color_yellow { 
    background-color: #ffdd00;
}
.traffic-light__light--color_green { 
    background-color: #44ff44;
}

.maze {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    margin: 30px auto;
    width: fit-content;
}

.maze__cell {
    width: 80px;
    height: 80px;
    background-color: white;
    box-sizing: border-box;
}

.maze__cell--border_top {
    border-top: 3px solid black;
}
.maze__cell--border_right {
    border-right: 3px solid black;
}
.maze__cell--border_bottom {
    border-bottom: 3px solid black;
}
.maze__cell--border_left {
    border-left: 3px solid black;
}