body {
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  background-image: 
    url("../png/tabl1.jpg"),
    url("../png/tabl2.jpg"),
    url("../png/pc.jpg"),
    url("../png/wind.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: 
    0vw,
    100vw,
    200vw,
    300vw;
  animation: scrollLeft 30s linear infinite; 
  z-index: -1;
}

@keyframes scrollLeft{
  0% {
    transform: translateX(0);
     opacity: 0;
  }
  15% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    transform: translateX(-300vw);
    opacity: 0;
  }
}

.text__container {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 85%;
  max-width: 600px;
  background: rgba(163, 163, 163, 0.801);
  border-radius: 50px;
  padding: 40px;
  backdrop-filter: blur(5px);
}

.text__self {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 25px;
}

.self__image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.self__info {
  width: 350px;
  font-size: 1.2em;
  text-align: right;
  color: black;
  line-height: 1.3;
}

.text {
  width: 100%;
}

.text__resume {
  margin: 15px;
  color: black;
  text-align: left;
  width: 100%;
  line-height: 1.4;
}


.project {
  position: absolute;
  top: 77.6%;
  left: 63%;
  transform: translate(-50%, -50%);
  width: 75%;
  max-width: 350px;
  background: rgba(163, 163, 163, 0.801);
  border-radius: 50px;
  padding: 40px;
  backdrop-filter: blur(5px);
}

.project__text{
  width: 100%;
  margin: 15px;
  color: black;
  text-align: left;
  width: 100%;
  line-height: 1.4;
}

