body {
    background-color: #ff0000;
    margin: 0;
    padding-bottom: 35%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: "BBH Sans Bartle", sans-serif;

}

.bbh-sans-bartle-regular {
    font-family: "BBH Sans Bartle", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.title {
    font-family: "BBH Sans Bartle", sans-serif;
    text-align: left;
}

h2 {
    font-family: "BBH Sans Bartle", sans-serif;
    margin: 0;
}

h3 {
    word-spacing: 15px;
    font-family: "BBH Sans Bartle", sans-serif;
    margin: 0;
}

.resume_bio-point {
    word-spacing: 5px;
    font-family: "BBH Sans Bartle", sans-serif;
    margin: 0;
}

.resume_hobbies-point {
    word-spacing: 5px;
    font-family: "BBH Sans Bartle", sans-serif;
    margin: 0;
}

.resume_skills-hard {
    word-spacing: 5px;
    font-family: "BBH Sans Bartle", sans-serif;
    margin: 0;
}

.resume_skills-soft {
    word-spacing: 5px;
    font-family: "BBH Sans Bartle", sans-serif;
    margin: 0;
}

.resune_link-point {
    word-spacing: 5px;
    font-family: "BBH Sans Bartle", sans-serif;
    margin: 0;
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #ff0000;
    transition: color 0.7s;

}

p {
    font-style: italic;
    word-spacing: 5px;
    font-family: "BBH Sans Bartle", sans-serif;
}


.image {
    display: flex;
    position: absolute;
    top: 26px;
    right: 410px;
    width: 300px;
    height: 125px;

}

.black-container {
    background-color: #000000;
    color: #ffffff;
    padding: 50px;
    width: 800px;
    height: auto;
    margin: 15px auto;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    display: block;
}

.white-line {
    border-bottom: 2px solid #ffffff;
    margin: 30px 0;
    width: 100%;
}

