body{
    /* Задание 1 */
    .ground-text-var7 {
    text-align: right;
    color: #FDDF9D;
    background-color: #522818;
    }
    /* Задание 2 */
    .image-stack{
    position: relative;
    }
    .image-stack img {
    position: absolute;
    }
    .image-stack img:nth-child(1){
     top: 0;
     left: 0;
     height: 600px;
     z-index: 1;
    }
    .image-stack img:nth-child(2){
     top: 200px;
     left: 35px;
     height: 300px;
     z-index: 2;
    }
    /* Задание 3 */
    .traf-light{
       position: relative;
       width: 100px;
       height: 280px;
       background-color:black;
       margin: 0 auto;
       justify-content: center;
       padding: 10px 0;
    }
    .light {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px auto;
    } 
    .red {background-color: red;}
    .yellow {background-color: yellow;}
    .green {background-color: green;}

    /* Задание 4 */
    .maze {
      display: grid;
      grid-template-columns: repeat(3, 80px);
      grid-template-rows: repeat(3, 80px);
      
      margin: 30px auto;
      width: fit-content;
    }

    .maze-cell {
      width: 80px;
      height: 80px;
      background-color: white;
      border: 2px solid black;
    }
}