body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f4;
}

section {
    margin-bottom: 50px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h2 {
    color: #333;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

.note {
    font-size: 0.9em;
    color: #666;
    font-style: italic;
}

.text-block {
    text-align: right;
    color: #23430B;
    background-color: #AE5764;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.images-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    border: 2px dashed #ccc;
}

.image {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-front {
    border: 2px solid red;
    opacity: 0.7;
}

.traffic-light {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.light {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px 0;
    border: 2px solid #000;
}

.red {
    background-color: #ff0000;
}

.yellow {
    background-color: #ffff00;
}

.green {
    background-color: #00ff00;
}

.maze {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    width: 300px;
    gap: 0;
    background-color: #fff;
}

.cell {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.cell-1 {
    border-top: 10px solid black;
    border-right: 5px solid black;
}

.cell-2 {
    border-top: 10px solid black;
    border-left: 5px solid black;
}

.cell-3 {
    border-top: 10px solid black;
    border-right: 10px solid black;
    border-bottom: 5px solid black;
}

.cell-4 {
    border-left: 10px solid black;
    border-right: 5px solid black;
}

.cell-5 {
    border-left: 5px solid black;
}

.cell-6 {
    border-top: 5px solid black;
    border-right: 10px solid black;
}

.cell-7 {
    border-left: 10px solid black;
    border-bottom: 10px solid black;
}

.cell-8 {
    border-bottom: 10px solid black;
    border-right: 5px solid black;
}

.cell-9 {
    border-left: 5px solid black;
    border-bottom: 10px solid black;
}