body{
    /* Задание 1 */
    .ground-text-var7 {
    text-align: right;
    color: #FDDF9D;
    background-color: #522818;
    }

    /* Задание 2 */
    .images{
   position: relative;
   height: 500px;
   margin: 0 auto;
    }
    .images img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%); 
    height: 500px;
    }
    .images_cat--cat-big{
     z-index: 1;
    } 
    .images_cat--cat-small{
     opacity: 0.7;
     z-index: 2;
    }

    /* Задание 3 */
    .traffic-light{
      width: 100px;
      height: 280px;
      background-color:black;
      margin: 0 auto;
      justify-content: center;
      padding: 10px 0;
    }
    .traffic-light__light {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px auto;
    } 
    .traffic-light__light--red {background-color: red;}
    .traffic-light__light--yellow {background-color: yellow;}
    .traffic-light__light--green {background-color: green;}

    /* Задание 4 */
    .maze {
      display: grid;
      grid-template-columns: repeat(3, 80px);
      grid-template-rows: repeat(3, 80px);
      margin: 30px auto;
      width: fit-content;
    }
    .maze_cell {
      width: 80px;
      height: 80px;
      background-color: white;
    }
    .maze_cell--side-top {
    border-top: 3px solid black;
    }
    .maze_cell--side-right {
    border-right: 3px solid black;
    }
    .maze_cell--side-bottom {
    border-bottom: 3px solid black;
    }
    .maze_cell--side-left {
    border-left: 3px solid black;
    }
}