.calculator{
  border:solid;
  max-width: fit-content;
  margin:50px auto;
}


.calculator__input input{
  text-align: right;
  width: 360px;
  padding:15px;
  margin: 5px;
}

.calculator__operation {
  margin: 5px;
}

.calculator__operation select{
  text-align: right;
  width: 393px;
  padding: 15px;
}

.calculator__button{
  text-align: right;
  width: 393px;
  padding: 15px;
  margin: 30px 5px;
}

.calculator__result{
  text-align: right;
  margin: 5px;
}
.calculator__result{
  text-align: right;
  margin: 20px 5px;
}
