body {
  font-family: sans-serif;
}

.header {
  background-color:#f7f4f4;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  padding:30px;
  border-radius: 50px;
  align-items: center;
  display: flex;
  gap:20px;
  margin:30px;
}
.header__photo{
  border-radius: 100px;
  width: 200px;
  height: 200px;
}
.header__photos{
  border-radius: 13px;
  width: 26px;
  height: 26px;
  display: flex;
  gap:10px;
}
.text{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:repeat(2, 1fr) ;
  gap:10px;
  justify-content: center;
  margin:50px;
}
.text__card{
  margin:10px;
  background: #f7f4f4;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  border-radius: 10px;
  padding:50px;
  text-align: center;
  transition: all 0.4s ease-in-out;
}
.text__card:hover{
  transform: translateY(-5px);
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  background: #edecec;
}
