.list {
    list-style-type: disc;
}
.list__item {
    padding: 5px;
    transition: color 0.3s ease;
}
    .list__item:hover {
        color: #f83030;
    }
.family {
    display: block;
}
.family__parent1 {
    margin: 10px;
    padding: 5px;
}

.parent1__child {
    padding: 5px;
    margin: 5px 10px;
    color: red;
}
.family__parent2 {
    color: orange;
    margin: 10px;
    padding: 5px;
}
.parent2__child {
        color: #b4005a;
        border: 1px dashed orange;
        padding: 5px;
        margin: 5px 10px;
}
.family__parent3 {
    margin: 10px;
    padding: 5px;
    color: initial;
}
.parent3__child {
    color: initial;
    padding: 5px;
    margin: 5px 10px;
}
.family__parent2 ~ .family__parent3,
.family__parent2 ~ .family__parent3 .parent3__child {
    color: green;
}
.family__parent2 ~ .family__parent3 .parent2__child {
        color: purple;
        border: none;
}
.programming-text {
    font-size: 16px;
}
.programming-text__link {
    list-style-type: none;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
    .programming-text__link::before {
        content: "🌐";
        font-size: 10px;
    }
.programming-list {
    position: relative;
    padding-bottom: 20px;
    list-style-type: none
}
    .programming-list::after {
        content: "";
        display: block;
        width: 200px;
        height: 50px;
        margin-top: 20px;
        background-image: url('https://ssau.ru/i/logo/logo-white-ru.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-color: royalblue;
        border-radius: 3px;
    }