body {
    font-family: Gill Sans, sans-serif;
}
p {
    margin: 0;
}
.header {
    text-align: center;
    font-size: 30px;
}
.text-block {
    text-align: left;
    color: #40EA53;
    background-color: #625620;
    width: 600px;
    padding: 30px;
}
.image-block {
    position: relative;
    top: 20px;
    padding: 20px;
}
.image-block__image-bg {
    position: relative;
    width: 600px;
}
.image-block__image-fg {
    position: absolute;
    top: 40px;
    left: 40px;
    height: 300px;
}
.traffic-light {
    width: 300px;
    height: 550px;
    background-color: #1e1e1e;
    border: 30px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.traffic-light__light {
    width: 150px;
    height: 150px;
    border: 10px solid #4b4d4b;
    border-radius: 50%;
}
.red {
    background-color: red
}
.yellow {
    background-color: yellow
}
.green {
    background-color: green
}
.maze {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}
.maze__cell {
    background-color: gray;
}
.maze__cell_border-bottom {
    border-bottom: 5px solid black;
}
.maze__cell_border-right {
    border-right: 5px solid black;
}
.maze__cell_border-left {
    border-left: 5px solid black;
}
.maze__cell_border-top {
    border-top: 5px solid black;
}