body {
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
}

.background {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  background-image: 
    url("../png/tabl1.jpg"),
    url("../png/tabl2.jpg"),
    url("../png/pc.jpg"),
    url("../png/wind.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: 
    0vw,
    100vw,
    200vw,
    300vw;
  animation: scrollLeft 30s linear infinite; 
  z-index: -1;
}

@keyframes scrollLeft{
  0% {
    transform: translateX(0);
     opacity: 0;
  }
  15% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    transform: translateX(-300vw);
    opacity: 0;
  }
}

.resume {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  grid-template-columns: 1fr 2fr; 
  grid-template-rows: auto auto;
  gap: 30px;

  width: 85%;
  max-width: 1500px;
  padding: 20px;
  box-sizing: border-box;
}

.resume__about {
  grid-column: 1;
  grid-row: 1;
}
.resume__info {
  grid-column: 2;
  grid-row: 1 / 3;
}
.resume__project {
  grid-column: 1;
  grid-row: 2;
}

.resume__about,
.resume__info,
.resume__project {
  background: rgba(163, 163, 163, 0.801);
  border-radius: 50px;
  padding: 40px;
  backdrop-filter: blur(5px);
  width: 85%;
  box-sizing: border-box;
}

.about__self {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}
.self__image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.self__text,
.info__text,
.project__text{
  font-size: 1.2em;
  color: black;
  line-height: 1.4;
}

.self__text {
  text-align: center;
}

.info__text,
.project__text {
  text-align: left;
}


