body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  color: #2c3e50;
  border-bottom: 2px solid #3498db;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.animated__list {
  list-style-type: none;
  padding: 0;
}

.animated__list li {
  background-color: #fff;
  padding: 10px 10px;
  border-radius: 7px;
  border-left: 4px solid #28a745;
  cursor: pointer;
  color: #333;
  font-size: 14px;
  transition: color 1.4s ease-in-out, transform 0.7s ease;
}

.animated__list li:hover {
  color: #808080;
  background-color: #f0f0f0; 
  transform: translateX(2px);
  border-left-color: #218838;
}

.task {
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.task__text {
  margin: 10px 0;
}

.task__text--conclusion {
  font-style: italic;
  margin-top: 20px;
}

.parent-1,
.parent-2,
.parent-3 {
    font-size: 20px;
    font-weight: bold;
}

.parent-1__child,
.parent-2__child,
.parent-3__child {
    font-size: 14px;
    font-weight: normal;
}

.parent-1 {
  text-align: center;
  margin: 20px;
}

.parent-1 .parent-1__child {
  padding: 5px;
  color: red;
  text-align: center;
}

.parent-2 {
  margin: 20px;
  color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parent-2 .parent-2__child {
  color: #b4005a;
  border: 3px dashed orange;
  border-radius: 5px;
  padding: 5px;
}

.parent-3 {
  margin: 20px;
  text-align: center;
}

.parent-3 .parent-3__child {
  padding: 5px;
}

.parent-2 ~ .parent-3 {
  padding: 5px;
  color: green;
}

.parent-2 ~ .parent-3 .parent-3__child {
  padding: 5px;
  text-align: center;
  color: green;
}

.parent-3 > .parent-2__child {
  border: none;
  color: purple;
}

.parent-3 .parent-2 .parent-2__child {
  border: none;
  padding: 5px;
  color: purple;
}

.parent-3 .parent-2 {
  margin: 0px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

ul {
  position: relative;
  list-style: none;
  padding-bottom: 30px;
}

.list::before {
  content: " 🌐 ";
  font-weight: bold;
  margin-right: 5px;
}

.logo-container {
  width: 353px;
  height: 105px;
  position: relative;
  margin: 20px auto;
  background-color: #2c3e50; 
  border-radius: 5px;
}

.logo-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://ssau.ru/i/logo/logo-white-ru.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
} 
