.task-1__list {
    transition: 0.1s;
    cursor: default;
}

.task-1__item:hover {
    transform: 3;
    color: darkblue;
}


.task-2 {
    width: 80px;
    margin: 0 auto;
}

.parent-1>.parent-1__child {
    color: red;
}

.parent-2 {
    color: orange;
}

.parent-2>.parent-2__child {
    color: #b4005a;
    border: 2px dotted orange;
}

.parent-2+.parent-3 {
    color: green;
}

.parent-3>.parent-2__child {
    color: purple;
}


.task-3 {
    padding-left: 50px;
}

.task-3__list {
    list-style-type: none;
    padding-left: 30px;
}

.task-3__item::before {
    content: "🌐";
    color: blueviolet;
    margin-right: 10px;
}

.task-3__link {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.task-3__list::after {
    display: flex;
    position: relative;
    width: 350px;
    content: url("https://ssau.ru/i/logo/logo-white-ru.svg");
    background-color: cornflowerblue;
    background-size: contain;
}