.text p {
 text-align: right;
 color: #FDDF9D;
 background-color: #522818;
}

.picture1 {
 position: absolute;
}

.picture2 {
 position: relative;
}

.traffic_light {
 width: 300px;
 background-color: gray;
 border-style: solid;
 border-radius: 10px;
 border-color: black;
}

.traffic_light_part {
 margin: 10px;
 width: 275px;
 height: 275px;
 border-style: solid;
 border-radius: 300px;
 border-color: black;
 background-color: gray;
}

.traffic_light_red {
 background-color: red
}

.traffic_light_yellow {
 background-color: yellow
}

.traffic_light_green {
 background-color: green
}

.maze {
 display: grid;
 grid-template-columns: repeat(3, 200px);
 grid-template-rows: repeat(3, 200px);
}

.maze_tile {
 background-color: lightblue;
}

.maze_tile_border_left {
 border-left: solid;
}
	
.maze_tile_border_right {
 border-right: solid;
}

.maze_tile_border_top {
 border-top: solid;
}

.maze_tile_border_bottom {
 border-bottom: solid;
}