.resume {
  display: flex;
  flex-direction: column;
  background-color: rgb(116, 20, 201);
  align-items: stretch;
  justify-content: center;
  border-radius: 10px;
  padding: 5px;
  gap: 5px;
  height: fit-content;
  width: fit-content;
}

.resume__head {
  display: flex;
  align-items: flex-start;
  background-color: rgb(182, 122, 235);
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
  height: fit-content;
}

.resume__body {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body__table {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  padding: 20px;
}

.body__table > *,
.body__achivments {
  border: 2px, dashed;
  border-radius: 10px;
  padding: 5px;
}

.head__image {
  width: 100px;
  height: 150px;
  border-radius: 30%;
  border: 2px solid;
  border-color: blue;
}

.head__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.info__fullname {
  flex: 1;
}

.info__birthday {
  flex: 1;
}

.fullname__h,
.birthday__h {
  color: gray;
  font-size: 14px;
  margin: 0 0 5px 0;
}

.fullname__p,
.birthday__p {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.resume__body h3 {
  color: white;
  background-color: rgb(55, 51, 51);
  width: fit-content;
  border-radius: 4px;
  font-size: 14px;
  margin: 0 0 5px 0;
}

.resume__body > * > p {
  margin: 0;
  font-size: 12px;
}

.skills__p--bold {
  font-weight: bold;
  font-size: 12px;
}

.git__link {
  font-size: 14px;
  margin: 0;
}

.body__achivments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.achivments__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list__item::before {
  content: "🌐";
  margin-left: 4px;
}

.item__link,
.git__link {
  color: blueviolet;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0.1s;
}

.item__link:hover,
.git__link:hover {
  color: #47bae8;
}
