body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 50px;
}


.resume{
    background:linear-gradient(1deg, rgb(197, 157, 221), rgb(94, 29, 158));
    padding: 30px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    border: 5px solid rgba(94, 29, 158, 0.2);
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 800px;
}


.resume__row{
    display: flex;
    gap: 50px;
}


.row__block{
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 50px;
    border: 5px solid rgba(255, 255, 255, 0.2);
    flex: 1;
    font-size: 18px;
}


.row__block1{
    font-size: initial;
}

.row__block2{
    padding: 0;
    flex: none;
}
.block2__photo{
    width: 180px;
    height: 180px;
    border-radius: 50px;
    object-fit: cover;
}


.block4__hobbies{
    list-style: none;
    padding: 0px;
}
.hobbies__hobby{
    margin-bottom: 10px;
}
.hobbies__hobby::before{
    content: "💜 ";
}


.block5__hards{
    list-style: none;
    padding: 0px;
}
.hards__hard{
    margin-bottom: 10px;
}
.hards__hard::before{
    content: "🟣 ";
}

.block6__softs{
    list-style: none;
    padding: 0px;
}
.softs__soft{
    margin-bottom: 10px;
}
.softs__soft::before{
    content: "🟣 ";
}


.block7__link{
    text-decoration: none;
    color: #7f3bc4;
}