body {
  position: relative;
  min-height: 100vh;
}

.text_blocks {
    text-align: justify;
    background: #202CB7;
    color: #5196EA;
}
.image_container {
    position: relative;
    display: inline-block;
    margin-left: 50%;
    margin-top: 20%;
    transform: translate(-50%, -50%);
}
.image_1 {
    display: block;
    width: 300px;
    height: auto;
}
.image_2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: auto;
    z-index: 1;
}
.svetofor {
    position: relative;
    display: inline-block;
    margin-left: 50%;
    margin-top: 20%;
    transform: translate(-50%, -50%);
}
#red {
    width: 200px;
    height: 200px;
    background: red;
}
#yellow {
    width: 200px;
    height: 200px;
    background: rgb(249, 137, 17);
}
#green {
    width: 200px;
    height: 200px;
    background: rgb(63, 255, 63);
}
.maze_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 600px;
    height: 600px;
    border: 3px solid black;
    margin: 50px auto;
}
.cell {
    width: 200px;
    height: 200px;
    background: gray;
    font-size: 19px;
    color: #403434;
    border: 2px solid #423a3a;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cell_start {
    color:white;
    font-weight: bold;
    background-color: #2ecc71;
    border: 2px solid #423a3a;
}
.cell_end {
    color: white;
    font-weight: bold;
    background-color: red;
    border: 2px solid #423a3a;
}
.cell:nth-child(4) {border-top: none;}
.cell:nth-child(5) {border-left: none;}
.cell:nth-child(8) {border-top: none; border-right: none;}