html { background-color: #d3f8ff }

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 50px;
    line-height: 1.4;
}

header {
    font-size: larger;
}

h2 {
    font-size: large;
}

.text {
    border: 3px solid black;
    font-size: medium;
    background-color: #6945a7;
    color: #a1f3f1;
    padding: 10px 30% 10px 10px;
    text-align: left;
}



.mega {
    position: relative;
    height: 800px;
    width: 100%;
}

.txtblock {
    position: absolute;
    top: 0;
}

.txtblock__left {
    left: 0;
}
.txtblock__middle {
    left: 400px;
}
.txtblock__right {
    left: 800px;
}



.cat1 {
    width: 300px;
    position: absolute;
    top: 60px;
    left: 0;
}
.cat2 {
    width: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
}



.box {
    background-color: black;
    width: 300px;
    height: 730px;
    position: absolute;
    top: 60px;
    left: 400px;
}
.box__block {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50px;
}

.box__block__red {
    background-color: red;
    top: 50px;
}
.box__block__yellow {
    background-color: yellow;
    top: 260px;
}
.box__block__green{
    background-color: green;
    top: 470px;
}

.maze {
    background-color:red;
    width: 600px;
    height: 600px;
    position: absolute;
    left: 800px;
    top: 60px;
}

.maze__block {
    width: 200px;
    height: 200px;
    position: absolute;
}

.maze__block__top{
    border-top: 2px solid black;
    top:0;
}
.maze__block__hmiddle{
    top:200px;
}
.maze__block__bottom{
    border-bottom: 2px solid black;
    top:400px;
}

.maze__block__left{
    border-left: 2px solid black;
    left:0;
}
.maze__block__vmiddle{
    left:200px;
}
.maze__block__right{
    border-right: 2px solid black;
    left:400px;
}

.start{
    border-left: 2px solid red;
}
.finish{
    border-right: 2px solid red;
}
.border__top{
    border-top: 2px solid black;
}
.border__bottom{
    border-bottom: 2px solid black;
}
.border__right{
    border-right: 2px solid black;
}
.border__left{
    border-left: 2px solid black;
}