.titl{
    text-align: center;
    padding: 3px 8px;
    border-radius: 9px;
    max-width: 3000px;
}



.ex-text {
    color: #60E41D;
    background-color: #D490C1;
    text-align: center;
    padding: 25px 5px;
    border-radius: 150px;
    max-width: 850px;
    margin: 0 auto; 
}


.ex-image{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin-top: -55px;
}
.image {
    position: absolute;
    max-width: 666px; 
}
.perv-image {
    top: 195px;
    z-index: 2;
    width: 300px;
    height: 200px;
}
.vtor-image {
    width: 200px;
    height: 300px;
    z-index: 1;
}


.ex-lighter {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2d2b2b;
    width: 75px;
    padding: 17px;
    border-radius: 50px;
    margin: 0 auto;
}
.lighter {
    width: 30px;
    height: 30px;
    padding: 20px;
    border-radius: 50px;
    margin: 5px;
}
.lighter_red {
    background: #FA0000;
}
.lighter_yellow {
    background: #ffff00;
}
.lighter_green {
    background: #00ff00;
}


.labyrinth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.labyrinth__row {
    display: flex;
}

.labyrinth__cell {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    margin: -1px;
}

.labyrinth__cell_open-left {
    border-left-color: transparent;
}

.labyrinth__cell_open-right {
    border-right-color: transparent;
}

.labyrinth__cell_open-top {
    border-top-color: transparent;
}

.labyrinth__cell_open-bottom {
    border-bottom-color: transparent;
}

.labyrinth__cell_start {
    border-left-color: transparent !important;
}

.labyrinth__cell_end {
    border-right-color: transparent !important;
}