* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #1a84fd;
}

.resume {
    display: flex;
    max-width: 900px;
    width: 100%;
    margin: 100px auto;
    background-color: white;
    border-radius: 10px;
}

.resume__main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main__profile-section,
.main__about-section,
.main__contacts-section {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
}

.profile-section__info {
    display: flex;
    align-items: center;
}

.info__avatar {
    width: 100px;
    height: 100px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.info__avatar-picture {
    width: 100px;
    height: auto;
    border-radius: 50%;
    outline: 1px solid black;
}

.info__name {
    flex: 1;
}

.resume__sidebar {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.sidebar__soft-section,
.sidebar__hard-section,
.sidebar__projects-section {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
}

h1, h2 {
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 10px;
    color: #666;
}

.about-section__content,
.contacts-section__content,
.soft-section__content,
.hard-section__content,
.projects-section__content {
    min-height: 100px;
    background-color: #f5f5f5;
    display: flex;
    align-items: top;
    justify-content: left;
    color: #666;
}

.content__list {
    list-style-type: none;
}

a {
    text-decoration: none;
}