.streaming-services-list__item {
    transition: color 0.4 ease;
    width: fit-content;
}
.streaming-services-list__item:hover {
    color: purple;
}



.family__parent-1__child {
    color: red;
    width: fit-content;
    padding: 5px 10px;
}

.family__parent-2 {
    color: orange;
}

.family__parent-2__child {
    color: #b4005a;
    border: 1px dashed orange;
    width: fit-content;
    padding: 5px 10px;
}

.family__parent-2 ~ .family__parent-3,
.family__parent-2 ~ .family__parent-3 .family__parent-3__child {
    color: green;
    width: fit-content;
    padding: 5px 10px;
}

.family__parent-3 .family__parent-2__child {
    color: purple !important;
    border: none;
    width: fit-content;
    padding: 5px 10px;
}



.langs-list__item a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.langs-list__item a::after {
    content: "🌐";
}

.langs-list::after {
    content: "";
    display: block;
    width: 240px;
    height: 80px;
    background: url("https://ssau.ru/i/logo/logo-white-ru.svg") no-repeat center / contain;
    background-color: gray;
    border-radius: 10px;
}

.langs-list {
    list-style: none;
    padding-left: 0;
}

.langs-list__item::before {
    content: "🌐";
}