.text-block {
  width: 400px;
  background-color: #3f4531;
  color: #8b2cd3;
  padding: 10px;
  text-align: left;
  margin-bottom: 10px;
}

.image {
  position: relative;
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
}

.image__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
}

.image__item_back {
  opacity: 1;
}

.image__item_front {
  opacity: 0.5;
}

.traffic-light {
  width: 150px;
  background: black;
  padding: 15px;
  margin-bottom: 10px;
}

.traffic-light__light {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 12px auto;
}

.traffic-light__light_red {
  background-color: #ff0000;
}

.traffic-light__light_yellow {
  background-color: #ffff00;
}

.traffic-light__light_green {
  background-color: #00ff00;
}

.maze {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 100px);
  width: fit-content;
}

.maze__cell {
  width: 100px;
  height: 100px;
  border: 5px solid black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maze__cell_open-top {
  border-top: none;
}

.maze__cell_open-left {
  border-left: none;
}

.maze__cell_open-right {
  border-right: none;
}

.maze__cell_open-bottom {
  border-bottom: none;
}
