.text-block {
  margin-bottom: 50px;
  text-align: left;
  background-color: #af9d3e;
  color: #75256c;
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image--first {
  width: 300px;
  z-index: 3;
}
.image--second {
  width: 400px;
  z-index: 2;
}

.traffic-light {
  margin-bottom: 50px;
  background-color: #333;
  width: 120px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.traffic-light__light {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: grey;
}

.traffic-light__light--red {
  background-color: #ff3333;
}
.traffic-light__light--yellow {
  background-color: #ffff33;
}
.traffic-light__light--green {
  background-color: #33ff33;
}

.maze {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  margin: 20px;
}

.maze__cell {
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  border: none;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.maze__cell:nth-child(1) {
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.maze__cell:nth-child(2) {
  border-bottom: none;
  border-right: none;
}

.maze__cell:nth-child(3) {
  border-bottom: none;
  border-left: none;
}

.maze__cell:nth-child(4) {
  border-right: none;
  border-bottom: none;
  border-top: none;
}

.maze__cell:nth-child(5) {
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.maze__cell:nth-child(6) {
  border-left: none;
  border-top: none;
  border-bottom: none;
}

.maze__cell:nth-child(7) {
  border-bottom: none;
  border-right: none;
}

.maze__cell:nth-child(8) {
  border-left: none;
  border-top: none;
  border-right: none;
}
.maze__cell:nth-child(9) {
  border-top: none;
}
