.container ,.additional-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: max-content;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(192, 192, 192);
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
    align-items: center;
    padding: 10px;
    background-color: rgb(112, 112, 112);
    border-radius: 10px;
}

.image-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-style: solid;
    overflow: hidden;
}

.image-container__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-info {
    border-style: dashed;
    border-radius: 10px;
    padding: 10px;
    margin-left: auto;
    align-items: center;
    align-self: center;
}

.additional-info {
    width: 100%;
    gap: 20px;
    padding: 10px;
    background-color: rgb(170, 170, 170);
}

.additional-info__line {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    border-radius: 10px;
}

.additional-info__line--bottom {
    display: inline-flex;
    border-radius: 10px;
    align-items: center;
    border-style: dashed;
}

.contacts, .hobbies, .info, .skills {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    border-style: dashed; 
}

p {
    margin: 0px;
}

.main-info p {
    margin: 10px;
    font-size: 20px;
}