.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: max-content;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(192, 192, 192);
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    padding: 10px;
    background-color: rgb(170, 170, 170);
    border-radius: 10px;
}

.image-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-style: solid;
    overflow: hidden;
}

.image-container__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-info {
    width: max-content;
    height: max-content;
    align-items: center;
}

.additional-info {
    
}