* {
  font-size: 16px;
}

body {
  font-weight: 500;
}

.title {
  font-size: 9px;
  text-align: center;
  padding: 3px 8px;
  border-radius: 9px;
  max-width: 3000px;
}

.stream-services {
  display: inline-block;
  text-align: left;
  padding: 0;
  margin-top: -3px;
}

.stream-services__item {
  list-style-position: inside;
  transition: color 0.3s ease-in-out;
  padding: 8px 0;
  cursor: pointer;
  margin-top: -7px;
}

.stream-services__item:hover {
  color: #6a009e;
}

.parent_1 .parent__child_from-1 {
  color: red;
  margin-left: -45px;
}

.parent_3 .parent__child_from-3 {
  margin-left: -45px;
}

.parent_2 {
  color: orange;
}

.parent_2 .parent__child_from-2 {
  color: #b4005a;
  border: 2px dashed orange;
  line-height: 70px;
  height: 70px;
  width: 100px;
  text-align: left;
  margin: 0 auto;
}

.parent_2 .parent__child_guest-1 {
  color: olive;
  margin-left: -45px;
}


.parent_3 .parent__child_guest-2 {
  color: purple !important;
  margin-left: -45px;
}

.parent_3 .parent__child_guest-1 {
  color: yellow !important;
  margin-left: -45px;
}


.parent_2 ~ .parent_3,
.parent_2 ~ .parent_3 .parent__child_from-3 {
  color: green;
}


.programming-languages {
  padding-left: 25px;
  display: inline-block;
  text-align: left;
  margin-top: -7px;
}

.programming-languages__link {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

.programming-languages__link::after {
  content: "🌐";
  font-size: 0.9em;
  margin-left: 4px;
}

.programming-languages::after {
  content: "";
  display: block;
  background-image: url("https://ssau.ru/i/logo/logo-white-ru.svg");
  background-position: center;
  background-size: 90px;
  background-repeat: no-repeat;
  background-color: #006dc0;
  padding: 25px;
  border-radius: 0px;
  margin-top: 7px;
  margin-bottom: -10px;
}
