.heading {
    font-size: 21px;
    margin-left: 5px;
}
/* Задание первое */
.sport {
    font-size: 20px;
    background-color: rgb(217, 217, 217);
}
.sport__list {
    color: rgb(0, 0, 0);
}

.sport__list__elem {
    transition: 0.1s;
}
.sport__list__elem_football:hover {
    color: lightgreen;
}

.sport__list__elem_basketball:hover {
    color: brown;
}

.sport__list__elem_tennis:hover {
    color: red;
}

.sport__list__elem_swimming:hover {
    color: lightblue;
}

.sport__list__elem_running:hover {
    color: darkgreen;
}

/* Задание второе */
.task2{
    font-size: 20px;
}

.child {
    padding: 10px 20px 10px 0px;
    list-style-type: none;
    display: inline-block;
    word-break:keep-all;
}

.parent__children{
    padding-left: 0;
    width: 100px;
}


.parent1__child {
    color: red;
}

.parent2 {
    color: orange;
}

.parent2__child {
    color: #b4005a;
    border-color: orange;
    border-style: dashed;
}

.parent2 ~ .parent3{
    color: green;
}

.parent3 .parent2__child{
    border-style: none;
    color: purple;
}

/* Задание третье */

.task3::after {
    content: url(https://ssau.ru/i/logo/logo-white-ru.svg);
}

.lang {
    text-decoration: none;
    color: black;
}

.lang::before {
    content: "🌐";
}

.task3::after {
    display: inline-block;
    width: 353px;
    height: 105px;
    text-align: right;
    background-image: url("https://ssau.ru/i/logo/logo-white-ru.svg");
    filter: invert(1);
}
