.list-header {
    margin-top: auto;
    margin-bottom: 5px;
}

.services-list {
    margin: auto;
}

.services-list li {
    color: rgb(0, 0, 0);
    transition: color 0.5s ease;
}

.services-list li:hover {
    color: rgb(0, 132, 255);
}

.parent-1,
.parent-2,
.parent-3 {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    text-align: center;
    color: black;
}

.parent-2 + .parent-3 * {
    color: green;
}

.parent-1__title,
.parent-2__title,
.parent-3__title {
    margin-bottom: 10px;
}

.parent-2__title {
    color: orange;
}

.parent-1__child,
.parent-2__child,
.parent-3__child {
    color: red;
    margin: auto;
    text-align: left;
}

.parent-2__child {
    color: #b4005a;
    border: dashed;
    border-color: orange;
}

.parent-3__child {
    color: black
}

.parent-3 > .parent-2__child {
    border: none;
    color: purple;
}