.task1 {
    text-align: center;
    color: #ABC0B0;
    background-color: #A91FA3;
}

.task2 {
    width: 50%;
    margin: 20px auto;
}

.task2__image-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.task2__image1, .task2__image2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.task2__image1 {
    width: 80%;
    z-index: 1;
}

.task2__image2 {
    width: 60%;
    z-index: 2;
}
.task3{
    width: 125px;
    height: 100%;
}

.task3__red, .task3__green, .task3__yellow {
    width: 100px;
    height: 100px;
}
.task3__red{
    background-color: red;
}
.task3__yellow{
    background-color: yellow;
}
.task3__green{
    background-color: green;
}

.maze {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 0;
}

.maze__cell {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}

.maze__cell_border-top {
    border-top: 2px solid black;
}

.maze__cell_border-right {
    border-right: 2px solid black;
}

.maze__cell_border-bottom {
    border-bottom: 2px solid black;
}

.maze__cell_border-left {
    border-left: 2px solid black;
}