body {
  background-color: #483d8b;
}

.block-main-text {
  text-align: left;
  background-color: #655bf9;
}

.block-main-text.text {
  color: #6ecfe7;
}

.block_image {
  position: relative;
}
.block_image-image1 {
  position: relative;
  width: 300px;
}
.block_image-image2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
}

.block-traffic_light {
  display: flex;
  flex-direction: column;
}
.block-traffic_light-red {
  width: 200px;
  height: 200px;
  background-color: #dc143c;
}
.block-traffic_light-yellow {
  width: 200px;
  height: 200px;
  background-color: #ffd700;
}
.block-traffic_light-green {
  width: 200px;
  height: 200px;
  background-color: #008000;
}

.labyrinth {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 30px);
  grid-template-rows: repeat(3, 30px);
}
.top {
  border-top: 4px solid black;
}
.bottom {
  border-bottom: 4px solid black;
}
.left {
  border-left: 4px solid black;
}
.right {
  border-right: 4px solid black;
}
