html {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    padding: 2%;
}

.text-js {
    text-align: justify; 
    color: #BA26E2; /* Отвратительное сочетание цветов, если честно.. */
    background: #21702C;

    /* В таком случае для пущего эффекта */
    font-family: "Comic Sans MS";
    font-size: large;
    rotate: 1.6deg;
    text-shadow: 5px 5px 2px black;
    box-shadow: 5px 5px 2px rgb(139, 133, 133);
    border-radius: 5px;
}

.text-js:hover { /* Почему бы и нет */
    animation-name: wacky-animation;
    animation-duration: 1.3s;
}

.text-css {
    position: absolute;
    right: 30px;
    width: 100px;
    text-align: center;
    font-size: large;
    rotate: -3deg;
    color: #aac3e2;
    background: #2436c0;
    animation-name: css-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    box-shadow: 5px 5px 2px rgb(139, 133, 133);
    border-radius: 2px;
    
}


@keyframes wacky-animation {
    from {
        rotate: 2deg;
    }
    50% {
        text-shadow: 50px 50px 1px black;
        rotate: -8deg;
    }
    to {
        rotate: 2deg;
    }
}

@keyframes css-animation {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #c000e6;
    }
    20% {
        transform: translateX(15px);
        rotate: 10deg;
        scale: 1.1;
    }
    50% {
        font-size: larger;
        scale: 1.2;
        transform: translate(-10px, 5px);
    }
    80% {
        transform: translateY(5px);
        rotate: -10deg;
        scale: 0.9;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #8b4dff, 0 0 40px #e14dff;
    }
}
.cat-image1 {
    image-rendering: optimizeQuality;
}

.cat-image2 {
    image-rendering: optimizeQuality;
    position: relative;
    flex-wrap: nowrap;
    right: 20px;
    bottom: 100px;
    rotate: -13deg;
}

.lights {
    display: inline-flexbox;
    background-color: rgb(53, 50, 50);
    width: 110;
    height: 320;
    padding: 5px;
}
.lights_light {
    display: inline-flexbox;
    width: 100px;
    height: 100px;
    background: gray;
    color: white;
    margin: 5px;

}

#green { background: green; }

#yellow { background: yellow; }

#red { background: red; }

.labyrinth {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 3px
}
.labyrinth_room {
    display: inline-flexbox;
    width: 100px;
    height: 100px;
    background: gray;
    border: gray solid 3px;
}

#room-1-1 {
    border-left: black solid 3px;
}
#room-1-2 {
    border-top: black solid 3px;
    border-left: black solid 3px;
}
#room-1-3 {
    border-top: black solid 3px;
    border-right: black solid 3px;
}
#room-2-1 {
    border-left: black solid 3px;
}
#room-2-2 {
    border-right: black solid 3px;
}
#room-2-3 {
    border-right: black solid 3px;
    border-left: black solid 3px;
}
#room-3-1 {
    border-left: black solid 3px;
    border-bottom: black solid 3px;
}
#room-3-2 {
    border-right: black solid 3px;
    border-left: black solid 3px;
    border-top: black solid 3px;
}
#room-3-3 {
    border-bottom: black solid 3px;
    border-right: black solid 3px;
}