* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    color: #000000;
    padding: 10px;
}

.color-play {
    width: 70px;
    position: relative;
    margin: auto;
    white-space: nowrap 
}

.color-play li{
    transition: color 0.5s ease;
    padding: 5px;
    margin: auto;
}

.color-play li:hover{
    color: blueviolet;
}

section{
    border: 2px solid gray;
    border-radius: 2%;
    margin-bottom: 40px;
    padding: 20px;
}

.title{
    text-align: center;
}

.parents-and-childrn{
    text-align: center;
}

.parent-1{
    text-align: center;
}

.parent-1__child{
    color: red;
    text-align: center;
}

.parent-2{
    color: orange;
    text-align: center;
}

.parent-2__child{
    display: block;
    color: purple;
    border: medium dashed orange;
    width: 15%;
    margin: auto;
    height: 30px;
    text-align: center;
}

.parent-3{
    text-align: center;
    color: black;
}

.parent-3__child{
    color: black;
    text-align: center;
}

.parent-2 ~ .parent-3 {
    color: green;
    text-align: center;
}

.parent-2 ~ .parent-3 .parent-3__child{
    color: green;
    text-align: center;
}

.parent-2 ~ .parent-3 .parent-2__guest{
    display: block;
    color: purple;
    text-align: center;
}

.language-list a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

.language-list a::after {
    content: "🌐";
}

.language-list a:hover {
    color: blue;
}

.language-list:after {
    content: "";
    display: block;
    width: 50%;
    height: 50px;
    margin: auto;
    background-image: url('https://ssau.ru/i/logo/logo-white-ru.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #044fa5;
    padding: 5px;
}