body {
    font-family: Arial;
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #D3D3D3;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
}
        
button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}


