body {
    background-color: #1f2833;
    padding: 20px;
    display: grid;
    place-items: center;
    font-family: FreeMono, monospace;
}

h1 {
    color: #ffcb9a;
    margin: 20px auto 20px auto;
    font-size: 38px;
    font-weight: bold;
}

.calculator {
    background-color: #45a29e;
    border: solid 3px #0b0c10;
    height: 500px;
    width: 350px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    
    border-radius: 15px;
    padding: 30px;
}

[class^="calculator__"] {
    color: #0b0c10;
    background-color: #f6f6f6;
    border: solid 3px #1f2833;

    font-size: 24px;
    text-align: center;

    border-radius: 8px;
}

.calculator__result {
    width: 100%; 
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator__first-number {
    margin-top: 5%;
}

.calculator__first-number, 
.calculator__second-number {
    width: 50%;
    height: 30px;
}

.calculator__first-number::-webkit-inner-spin-button,
.calculator__second-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.calculator__select-operations {
    -webkit-appearance: none;
    appearance: none;

    width: 20%;
    height: 30px;
}

.calculator__calculate-button {
    width: 100%;
    height: 50px;

    margin-top: 25px;
}

.calculator__calculate-button:active {
    transform: translateY(2px);
    
    color:#f6f6f6;
    background-color: #ffcb9a;
    border-color: #d9b08c
}

.calculator__first-number:focus,
.calculator__second-number:focus,
.calculator__select-operations:focus {
    outline: none;
    border-color: #ffcb9a;
}