.text_task {
  background-color: #FEB431;
  text-align: center;
  color: #85A1B7;
}

.cats_task {
  position: relative;
}

.cats_task_second {
  position: absolute;
  top: 120px;
}

.trafficlight_task {
  background-color: #49433d;
  width: 100px;
}

.traficlight_size {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.trafficlight_red {
  background-color: red;
}

.trafficlight_yellow {
  background-color: yellow;
}

.trafficlight_green {
  background-color: green;
}

.labyrinth {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  width: 360px;
}

.labyrinth_cell {
  border: 4px solid black;
  box-sizing: border-box;
  width: 120px;
  height: 120px;
}

.labyrinth_cell_no-left {
  border-left: none;
}

.labyrinth_cell_no-right {
  border-right: none;
}

.labyrinth_cell_no-top {
  border-top: none;
}

.labyrinth_cell_no-bottom {
  border-bottom: none;
}