body {
    background-color: rgba(52, 217, 226, 0.373);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.profile {
    display: flex;
    width: 100%;
    min-height: 100vh;
    gap: 30px;
    
}

.profile__left {
    flex: 2;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
   
    
    
}
.left__selection{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    
    
}

.selection__title{
    font-size: 36px;
    margin: 0;
    color: #333;
}

.selection__text {
    font-size: 18px;
    margin: 0;
    color: #342f2f;
}

.profile__right {
    flex: 2;
    flex-direction: column; 
    display: flex;
    align-items: center;      
    justify-content: center; 
    padding: 40px;
}

.right__image{
    width: 50%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}


.github-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.2s ease;
}

.github-link:hover {
    color: #0250c3;
    text-decoration: underline;
}

.nav {
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  padding: 14px 0 14px 0;
  border-radius:  18px;
  box-shadow: 0 2px 14px #23294638;
}

.nav__title {
  text-align: center;
  margin: 0;
  color:  black;
  font-size: 20px;
  margin-bottom: 15px;
}
.nav__list {
  display: flex;
  gap: 38px;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0 0 0 14px;
}

.nav__link {
  color: black;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.13em;
  padding: 8px 20px;
  border-radius: 8px;
  transition: background 0.18s, color 0.12s;
  background: transparent;
}

