body {
    margin: 0 auto;
    color: #ffffff;
}

.section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    padding: 30px 0 30px 0;
    background: linear-gradient(to bottom, #2e3c57, #0d1529);
}

.section__avatar {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    content: url(./imgs/avatar.png);
    object-fit: cover;
    background: #ffffff;
    box-shadow: 0px 13px 19px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.section__name {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 5px;
}

.section__date {
    color: #d8d8d8;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
} 

.section__about-title {
    color: #ffffff;
    font-size: 50px;
    font-weight: 900;
}

.section__about-text {
    color: #d8d8d8;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
}

.section__socials-title {
    color: #ffffff;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px;
}

.section__socials-objs {
    display: flex;
    background: #ffffff;
    height: 150px;
    width: 150px;
    margin-bottom: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 13px 19px 12px rgba(0, 0, 0, 0.2);
}

.section__socials-objs img {
    height: 80px;
}

.section__hobies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;   
    margin-bottom: 50px;
}

.section__hobbies__title {
    color: #eef5ff;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
    padding-top: 20px;
}

.section__hobbies__objs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.section__hobbies__objs__el {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    height: 140px;
    width: 270px;
    border-radius: 30px;
    box-shadow: 0px 13px 19px 12px rgba(0, 0, 0, 0.2);
    background: #fff;
    padding-bottom: 10px;
}

.basketball {
    background-image: url(./imgs/basketball.jpg);
    background-size: cover;
}

.game {
    background-image: url(./imgs/game.jpg);
    background-size: cover;
}

.prog {
    background-image: url(./imgs/prog.jpg);
    background-size: cover;
}

.plan {
    background-image: url(./imgs/manage.jpg);
    background-size: cover;
}

.adapt {
    background-image: url(./imgs/adapt.png);
    background-size: cover;
}

.sites {
    background-image: url(./imgs/site.jpg);
    background-size: cover;
}

.section__hobbies__objs__el img {
    height: 100px;
    width: 100px;
}

.section__hobbies__objs__el span {
    color: #000000;
    font-size: 20px;
    font-weight: 900;
    background: #fff;
    padding: 5px 10px;
    border-radius: 10px;
}

.section__projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.section__projects__title {
    color: #eef5ff;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
    padding-top: 20px;
}

.section__projects__links {
    display: flex;  
    justify-content: space-around;
    width: 100%;
}

.section__projects__links__el {
    text-decoration: none;
    color: #000000;
    font-size: 28px;
    font-weight: 900;
    background: #ffffff;
    padding: 50px;
    border-radius: 40px;
    box-shadow: 0px 13px 19px 12px rgba(0, 0, 0, 0.2);
}