body {
  font-family: Arial;
  max-width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: #d3d3d3;
}

.calculator__input {
  width: 100%;
  padding: 8px;
  margin: 5px 0 15px 0;
}

.calculator__button {
  width: 100%;
  padding: 10px;
  background: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
