.color-circle {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.color-circle_red {
  background-color: red;
}

.color-circle_yellow {
  background-color: yellow;
}

.color-circle_green {
  background-color: green;
}

.container {
  width: 1000px;
}

.maze-cell {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-bottom: -3px;
  margin-right: -4px;
  vertical-align: top;
}

.maze-cell_border_bottom {
  border-bottom: 3px solid black;
}

.maze-cell_border_right {
  border-right: 3px solid black;
}

.maze-cell_border_left {
  border-left: 3px solid black;
}

.maze-cell_border_top {
  border-top: 3px solid black;
}

.task1_container {
  background-color: #655bf9;
  color: #6ecfe7;
  text-align: left;
}

.task2_container {
  position: relative;
}

.cat1_image {
  position: absolute;
  width: 300px;
  top: 250px;
}