.text-box{
    color: #85a1b7;
    background-color: #feb431;
    max-width: 700px;
}

.text-box__text{
    text-align: center;
}

.image-block{
    position: relative;
    width: 600px;
    height: 400px;
}

.image-block__image--back{
    width: 100%;
    height: 100%;
}

.image-block__image--front{
    position: absolute;
    width: 100px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.traffic-light{
    height: 260;
    width: 100px;
    background-color: black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.traffic-light__lamp{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 5px;
}

.traffic-light__lamp--red{
    background-color: red;
}

.traffic-light__lamp--yellow{
    background-color: yellow;
}

.traffic-light__lamp--green{
    background-color: green;
}

