.main_container {
  text-align: center;
}

.unordered_list {
    list-style-type: none;
    padding: 0;
}

.unordered_list li {
    padding: 8px 12px;
    margin: 4px 0;
    transition: color 0.8s ease, background-color 0.8s ease;
}

.unordered_list li:hover {
    color: #f4bc92;
    background-color: #f0f0f0;
}