body{
    background-color: #F5F5DC;
}

.task-1 > ul > li {
    transition: 0.1s;
    cursor: default;
}


.task-1 > ul > li:hover{
    transform: 3;
    color: blueviolet;
}




.task-2{
    width: 80px;
}


.parent-1 > .parent-1-child{
    color: red;
}



.parent-2 > .parent-2-child{
    color: #b4005a;
}
.parent-2 > .parent-2-child > p{
    border: 2px dotted orange;
}
.parent-2 > h3{
    color: orange;
}




.parent-2 + .parent-3{
    color: green;
}
.parent-3 > .parent-3-child > .parent-2-child-baby{
    color: purple;
}





.task-3 > ul {
    list-style-type: none; 
    padding-left: 20px;
}

.task-3 > ul li::before {
    content: "🌐"; 
    color: red;
    margin-right: 10px;
}
.link{
    text-decoration: none;
}

a {
  color: #8A2BE2;
  font-weight: bold;
}