body {
  background-color: #f5f5dc;
}

.games__list > .games__item {
  transition: 0.1s;
  cursor: default;
}

.games__list > .games__item:hover {
  transform: 3;
  color: blueviolet;
}

.parents {
  width: 80px;
}

.parent--first > .parent__child--first {
  color: red;
}

.parent--second > .parent__child--second {
  color: #b4005a;
}
.parent--second > .parent__child--second {
  border: 2px dotted orange;
}
.parent--second > .parent__title {
  color: orange;
}

.parent--second + .parent--third {
  color: green;
}
.parent--third > .parent__child--third + .parent__child--second {
  color: purple;
}

.language__list {
  list-style-type: none;
  padding-left: 20px;
}

.language__list .language__item::before {
  content: "🌐";
  color: red;
  margin-right: 10px;
}
.language__link {
  text-decoration: none;
}

a {
  color: #8a2be2;
  font-weight: bold;
}

.language::after {
  content: "";
  display: block;
  width: 200px;
  height: 60px;
  background-image: url("https://ssau.ru/i/logo/logo-white-ru.svg");
  background-size: contain;
  margin: 20px auto 0;
}
