.heading {
    font-size: 30px;
    margin-left: 5px;
}

/* Задание 1 */
.games {
    font-size: 10px;
    margin-bottom: 20px;
}

.animated-list {
    padding-left: 0;
    list-style: none;
}

.animated-item {
    padding-left: 10px;
    font-size: 20px;
}

.animated-list li {
    margin: 5px 0;
    transition: color 1s ease;
}

.animated-list li:hover {
    color: #e74c3c;
}

/* Задание 2 */
.parents {
    font-size: 20px;
    margin-bottom: 20px;
}

.parent_1,
.parent_2,
.parent_3 {
    margin-bottom: 20px;
    padding: 10px;
}

.parent_1-title,
.parent_2-title,
.parent_3-title {
    margin-bottom: 10px;
    font-weight: bold;
}

.parent_1-children,
.parent_2-children,
.parent_3-children {
    padding-left: 0;
    margin: 0;
}

.parent_1-child,
.parent_2-child,
.parent_3-child {
    padding: 5px 10px;
}

.parent_1-child {
    color: red;
}

.parent_2-title {
    color: orange;
}

.parent_2-child {
    color: #b4005a;
    border: 2px dashed orange;
    width: fit-content;
}

.parent_2 ~ .parent_3 {
    color: green;
}

.parent_3:last-of-type .parent_3-child:last-child {
    color: purple;
}

/* Задание 3 */
.languages {
    font-size: 18px;
    margin-bottom: 20px;
}

.list {
    list-style: none;
    padding-left: 0;
}

.item {
    margin-bottom: 8px;
}

.link {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.text {
    margin-top: 16px;
}

.link::after {
    content: "🌐";
    margin-left: 5px;
    font-size: 0.9em;
    vertical-align: middle;
}

.languages::after {
    content: url("https://ssau.ru/i/logo/logo-white-ru.svg");
    display: block;
    margin-top: 20px;
    filter: invert(1);
    width: 353px;
    height: 105px;
}