* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    color: #000000;
    padding: 10px;
}

.color-play {
    width: 70px;
    position: relative;
    margin: auto;
    white-space: nowrap;
}

.color-play li{
    transition: color 0.5s ease;
    padding: 5px;
    margin: auto;
}

.color-play li:hover{
    color: blueviolet;
}

section{
    border: 2px solid gray;
    border-radius: 2%;
    margin-bottom: 40px;
    padding: 20px;
}

.title{
    text-align: center;
}

.parents-and-childrn{
    text-align: center;
}

.parent-1 .child {
    color: red;
}

.parent-2 {
    color: orange;
}

.parent-2 .child {
    color: #b4005a;
    border: 2px dashed orange;
    padding: 5px;
    margin: 5px;
}

.parent-1 ~ .parent-2 ~ .parent-3,
.parent-1 ~ .parent-2 ~ .parent-3 .child {
    color: green;
}

.parent-3 .child.guest,
.parent-3 .child-2.guest {
    color: purple !important;
    border: none !important;
}

.child {
    padding: 5px;
    margin: 5px;
}

.language-list a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

.language-list a::after {
    content: "🌐";
}

.language-list a:hover {
    color: blue;
}

.language-list:after {
    content: "";
    display: block;
    width: 50%;
    height: 50px;
    margin: auto;
    background-image: url('https://ssau.ru/i/logo/logo-white-ru.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #044fa5;
    padding: 5px;
}
