* {
    font-family: Arial;
}

body h2 {
    text-align: center;
}

.unordered-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: fit-content; 
    row-gap: 5px; 
}

.unordered-list > .unordered-list__element {
    transition: color 0.4s linear, background-color 0.4s linear;
}

.unordered-list__element:hover {
    color: blueviolet;
    background-color: rgb(171, 255, 255);
}

.parents > [class^="parents__"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px; 
}

.parents__parent-1 > [class^="parent-1__"] {
    color: red;
}

.parents__parent-2 {
    color: orange;
}

.parents__parent-2 > [class^="parent-2__"] {
    color: #b4005a;
    border: dotted orange;
}

.parents__parent-2 + .parents__parent-3 {
    color: green;
}

.parents__parent-3 .parent-2__child {
    color: purple;
    border: none;
}

ul {
    list-style: none;;
}

.link {
    font-weight: bold;
}

.link::before {
    content: "🌐";
}

.links::after {
    content: url('https://ssau.ru/i/logo/logo-white-ru.svg');
    display: block;
    background-color: blue;
    height: fit-content;
    width: fit-content;
}
