.text {
  background-color: #a91fa3;
  text-align: center;
  color: #abc0b0;
}
.picture {
  position: relative;
}
.picture_secondcat {
  position: absolute;
  top: 80px;
}
.traffic {
  width: 200px;
  background-color: black;
}
.traffic_light {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
.traffic_color_yellow {
  background-color: yellow;
}
.traffic_color_red {
  background-color: red;
}
.traffic_color_green {
  background-color: green;
}
body {
  margin: 0;
  padding: 0;
}

.maze {
  display: grid;
  grid-template-columns: [start] 200px [line2] 200px [line3] 200px [end];
  grid-template-rows: [row1-start] 200px [row1-end] 200px [last];
  row-gap: 0;
  column-gap: 0;
  background-color: white;
}
.maze_cell_border-left {
  border-left: medium solid black;
}

.maze_cell_border-right {
  border-right: medium solid black;
}

.maze_cell_border-top {
  border-top: medium solid black;
}

.maze_cell_border-bottom {
  border-bottom: medium solid black;
}
.maze_cell {
  background-color: white;
  width: 100%;
  padding-top: 100%;
}
