p{
    padding: 20px;
    text-align: left;
    color:#3D2FBB;
    background-color: #741FD0;

}

.heading_task-3{
    margin-top: 690px;
}

.heading_task-4{
    margin-top: 150px;
}



.image-container{
    position: relative;
    height: auto;
}


.image-container__image_first, .image-container__image_second{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.image-container__image_first{
    top: 0;
   
}

.image-container__image_second{
    top: 419px;
}

.traffic-lights{
    position: relative;
}

.traffic-lights__rectangle{
    position: absolute;
    width: 300px;
	height: 700px;
	background: rgb(98, 101, 100);
}

.traffic-lights__circle{
    position: relative;
    left: 50px;
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

.traffic-lights__circle_red{
    background: red;
    top: 25px;
}

.traffic-lights__circle_yellow{
	background: yellow;
    top: 50px;
}

.traffic-lights__circle_green{
	background: green;
    top: 75px;
}

.maze{
    display: grid;
    place-items: center;
}
.maze__row {
    display: flex;
    
}

.maze__cell {
    width: 100px;
    height: 100px;
    border: 4px solid black;
    display: inline;
    box-sizing: border-box;
}


.maze__cell_no-top{
    border-top: none;
}

.maze__cell_no-bottom{
    border-bottom: none;
}

.maze__cell_no-right{
    border-right: none;
}

.maze__cell_no-left{
    border-left: none;
}

