body {
    margin: 0 auto;
    color: #ffffff;
}

.section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    padding: 30px 0 30px 0;
    background: linear-gradient(to bottom, #2e3c57, #0d1529);
}

.section__avatar {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    content: url(./imgs/avatar.png);
    object-fit: cover;
    background: #ffffff;
    box-shadow: 0px 13px 19px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.section__name {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 5px;
}

.section__date {
    color: #d8d8d8;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
} 

.section__about-title {
    color: #ffffff;
    font-size: 50px;
    font-weight: 900;
}

.section__about-text {
    color: #d8d8d8;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
}

.section__socials-title {
    color: #ffffff;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px;
}

.section__socials-objs {
    display: flex;
    background: #ffffff;
    height: 150px;
    width: 150px;
    margin-bottom: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 13px 19px 12px rgba(0, 0, 0, 0.2);
}

.section__socials-objs img {
    height: 80px;
}

.section__hobies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;   
}

.section__hobbies__title {
    color: #eef5ff;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
    padding-top: 20px;
}

.section__hobbies__objs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 100px;
    width: 100%;
    justify-items: center;
}

.section__hobbies__objs__el {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    height: 140px;
    width: 270px;
    border-radius: 30px;
    box-shadow: 0px 13px 19px 12px rgba(0, 0, 0, 0.2);
    background: #fff;
    padding-top: 10px;
}

.section__hobbies__objs__el img {
    height: 100px;
    width: 100px;
}

.section__hobbies__objs__el span {
    color: #000000;
    font-size: 20px;
    font-weight: 900;
}