:root {
  --primary-color: #413997;
  --text-color: black;
  --sidebar-bg-color: #9d95f4;
  --border-color: #413997;
}

body {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  background-color: rgb(108, 100, 196);
}

.resume {
  display: flex;
  max-width: 1100px;
  margin: 35px auto;
  background-color: rgba(255, 255, 255, 0.821);
  box-shadow: 0 15px 70px rgba(0, 0, 0, 0.5);
  border-radius: 35px;
  overflow: hidden;
}

.resume__sidebar {
  width: 45%;
  background-color: var(--sidebar-bg-color);
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.resume__header {
  margin-bottom: 20px;
}

.resume__photo {
  width: 150px;
  height: 150px;
  border-radius: 20%;
  border: 4px solid var(--primary-color);
  object-fit: cover;
}

.resume__title {
  font-size: 1.85em;
  margin: 10px 0 0 0;
}

.sidebar__section {
  margin-bottom: 25px;
  width: 100%;
}

.section__section-title {
  font-size: 1.4em;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid var(--border-color);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.section__section-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section-list__list-item {
  margin-bottom: 10px;
  font-size: 1em;
  display: flex;
  align-items: center;
}

.section-list__list-item i {
  margin-right: 10px;
  color: var(--primary-color);
  font-size: 1em;
  width: 25px;
  text-align: center;
}

.link {
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.resume__content {
  width: 50%;
  padding: 40px 50px;
}

.content__about-title {
  font-size: 2em;
  color: var(--primary-color);
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 3px solid var(--primary-color);
}

.content__about-text {
  font-size: 1.05em;
  margin-bottom: 20px;
  line-height: 1.6;
}
