html {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    padding: 2%;
    padding-left: min(13%, 8em);
    padding-right: min(13%, 8em);
    background-color: hsl(0, 0%, 90%);
    color: hsl(0, 0%, 5%);
}

a {
    text-decoration: none;
    font-weight: bold;
    color: currentColor;
    transition-property: color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

a::before {
    content: "🔗";
}

a:hover {
    color: blueviolet;
}

.main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.profile {
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 0;
    padding: min(2%, 10px);
    border-radius: 2%;
    /* outline: 5px solid silver; */
    background-color: hsl(0, 0%, 95%);
    box-shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);
}

.pfp {
    margin: 5px;
    position: relative;
    border-radius:50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 5px solid hsl(0, 0%, 65%);;
    background-color: hsl(0, 0%, 85%);

    /*?*/
    transition-property: rotate, background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

.pfp__image{
    object-fit: auto;
    width: 120%;
    height: 120%;
    position: absolute; /* Выравнивание изображения в рамке */
    top: 70%;
    left: 47%;
    transform: translate(-50%, -50%);
}

.pfp:active {
    rotate: 360deg;
    background-color: black;
}

.text-container {
    margin: 5px;
    display: inline-block;
}

.text-container__string {
    font-size: 20;
    line-height: 0.75;
    overflow-wrap: unset;
}

.text-title {
    font-size: 25;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.text-accent2 {
    font-size: 22;
    font-style: italic;
}

.text-accent-low {
    font-size: 20;
    color: hsl(0, 0%, 35%);;
}

.about-me, .hard-skills, .soft-skills {
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    border-radius: 2%;
    background-color: hsl(0, 0%, 95%);
    box-shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);
}

.panel__title {
    margin-bottom: 0px;
}

.click-image__image {
    cursor: pointer;
}

#btnControl {
    display: none;
}

.click-image__checkbox + .click-image__btn > .click-image__image {
    animation: click1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.25s;
}

.click-image__checkbox:not(:checked) + .click-image__btn > .click-image__image { /* Теперь доминошка подпрыгивает при каждой перезагрузке страницы */
    animation: click2; /* Но меня такой побочный эффект вполне устраивает :) */
    animation-timing-function: ease-in-out;
    animation-duration: 0.25s;
}

@keyframes click1 {
    20% { rotate: 5deg;}
    50% { scale: 1.15; rotate: -1deg}
    70% { rotate: -6deg}
}

@keyframes click2 { /* Немного другая анимация на каждое 2-е нажатие */
    20% { rotate: -6deg;}
    40% { scale: 1.18; rotate: 3deg}
    80% { rotate: 10deg}
}