body {
    font-size: 25px;
    font-family: 'Cascadia Mono';
    color: white;
    background-color: #292929;
}

.profile {
    display: grid;
    background-color: #6E1A4F;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 300px;
    padding: 10px;
    gap: 10px;
    border-radius: 20px;
}

.profile-baseinfo {
    background-color: #3267B7;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
.profile-baseinfo__image img {
    border-radius:50px;
    height: 180px;
}
.profile-baseinfo__name {
    font-size: 33px;
    font-weight: bold;
}

.profile-skills {
    background-color: #6331af;
    border-radius: 20px;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}    
.profile-skills__section {
    background-color: #9D8BC3;
    border-radius: 20px;
    margin: 20px;
    padding: 15px;
}

.profile-other {
    display: grid;
    gap: 10px;
    background-color: #a44fa1;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}
.profile-other__section {
    display: block;
    background-color: #9D8BC3;
    align-content: center;
    font-size: 22px;
    border-radius: 20px;
    padding: 10px;
}
.profile-other__section ul {
    padding: 0;
    list-style-type: none;
}
.profile-other__section a {
    color: white;
}

@media (orientation: portrait) {
    body {
        font-size: 18px;
    }
    .profile {
        grid-template-columns: 1fr;
    }
    .profile-skills {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .profile-other__section {
        font-size: 18px;
    }
}