* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.resume {
    background-color: #ffffff;
    width: 800px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 40px;
}

.resume__left {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left__photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 4px solid #4a90e2;
}

.left__name {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
}

.left__info {
    margin-bottom: 10px;
    text-align: center;
}

.left__github {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #4a90e2;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.1s;
}

.left__github:hover {
    background-color: #357abd;
}

.resume__right {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.right__section {
    margin-bottom: 20px;
}

.section__title {
    color: #4a90e2;
    margin-bottom: 10px;
}

.section__list {
    list-style-type: disc;
    margin-left: 20px;
}


.list__link {
    display: inline-block;
    padding: 6px 10px;
    border-radius: 8px;

    color: #000000;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;

    transition: 
        color 0.25s ease,
        background-color 0.25s ease,
        transform 0.25s ease,
        box-shadow 0.25s ease;
}

.list__link:hover {
    background-color: rgba(74, 108, 247, 0.12);
    color: #070911;

    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(74, 108, 247, 0.25);
}
