/* style.css */
section {
            display: block;
            text-align: left;
            margin: 10px;
            padding: 10px;
        }        
.styled-text {
            color: #75256C;
            background-color: #AF9D3E;
            display: inline-block;
        }
.UpPic {
            position: absolute;
            z-index: 2;
            left: 50px;
            width: 100px;
        }
.DownPic {
            position: absolute;
            z-index: 1;
            width: 200px;
}