h1 {
    text-decoration: underline;
}


/* Стили для списка */

.animated-list {
    background-color: white;
}

.animated-list__item {
    color: grey;
    transition: color 700ms ease;
}

.animated-list__item_marvel:hover{
    color:red; 
}

.animated-list__item_starwars:hover{
    color:darkblue; 
}

.animated-list__item_harry:hover{
    color:darkorchid; 
}

.animated-list__item_lotr:hover{
    color:gold; 
}

.animated-list__item_bond:hover{
    color:orange; 
}

/* Стили для родителей и детей */

.parent{
    color:black;
}


/* Стили для текста */
.hyperlink{
    text-decoration: none;
    font-weight: bold;
}

.hyperlink:after{
    white-space:nowrap;
}

.hyperlink:before{
    content: "🌐";
}

.language-list:after{
    content:"";
    width: 100px;
    height: 100px;
    display:inline-block;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 15px;
    background-image: url('../images/Neom_Samara_01-1.jpg');
}

language-list:marker{
    color:blue;
}