.text_block {
    color: #BA26E2;
    background-color: #21702C;
    text-align: justify;
    width:70%;
    height: 30%;
    font-size: large;
}

.image_1{
    position: absolute;
    width: 384px;
    height: 216px;
}

.image_2 {
    position: absolute;
    width: 118px;
    height: 209px;
    top: 288px;
    left: 133px;
}