.text-block {
    color: #BA26E2;
    background-color: #21702C;
    text-align: justify;
    width:70%;
    height: 30%;
    font-size: large;
}

.image-1{
    position: relative;
    width: 384px;
    height: 216px;
}

.image-2 {
    position: relative;
    width: 118px;
    height: 209px;
    left: -260px;
    top: -3px
}

.traffic-light{
    width: 20px;
}

.traffic-light__signal{
    height:20px;
}

.signal_red-light{
    background-color: red;
}

.signal_yellow-light{
    background-color: yellow;
}

.signal_green-light{
    background-color: green;
}



