.text-block {
    color: #BA26E2;
    background-color: #21702C;
    text-align: justify;
    width:70%;
    height: 30%;
    font-size: large;
}

.image-1{
    position: relative;
    width: 384px;
    height: 216px;
}

.image-2 {
    position: relative;
    width: 118px;
    height: 209px;
    left: -260px;
    top: -3px
}

.traffic-light{
    width: 200px;
    height: 600px;
}

traffic-light .traffic-light__signal{
    width:200px;
    height:200px;
}

traffic-light__red-light{
    background-color: red;
}

traffic-light__yellow-light{
    background-color: yellow;
}

traffic-light__green-light{
    background-color: green;
}

.maze{
    height: 2100px;
    width: 2100px;
}

maze .maze__room {
    height:700px;
    width :700px;
}