p, h1 {
        color: #AEEC23;
        background-color: #2BBF71;
        text-align: left;
}
body img {
    position: absolute;
    top: 700px;
    left: 800px;
    transform: translate(-50%, -50%);
}
.светофор{
    position: absolute;
    top: 1250px;
    left: 100px;
}
  .лабиринт {
    display: grid;
    position: absolute;
    top: 1600px;
    left: 100px;
    grid-template-columns: repeat(3, 100px); 
    grid-template-rows: repeat(3, 100px);
    
  }

  .клетка {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 2px solid white;
    background-color: black;
    margin-right: 20px;
  }
